# Flask Backend Configuration
FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_DEBUG=True
FLASK_SECRET_KEY=interview-anti-cheating-secret

# Socket.IO Configuration
SOCKETIO_CORS_ALLOWED_ORIGINS=*

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000
