@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
}

@layer base {
  :root {
    --background: #FAF9F6;
    --surface: #FFFFFF;
    --border: #EAEAEA;
    --ink: #1A1A1A;
    --ink-muted: #666666;
    --ink-lighter: #999999;
    --accent: #EBE9E0;
    --accent-dark: #D4D1C1;
  }
}

body {
  background-color: var(--background);
  color: var(--ink);
}
